$seat-available-bg: green;
$seat-available-color: white;
$seat-booked-bg: #9E0000;
$seat-booked-color: white;
$seat-unavailable-bg: black;
$seat-unavailable-color: white;

.badge-primary
{
    color: black;
    background-color: $seat-available-color;
    padding: 5px;
    font-size: 20px;
    margin: 0px 5px 5px 0px;
}
.seatrow
{
    display: inline-flex;
}

.seat-item
{
    height: 60px;
    width: 60px;
    line-height: 25px;
    margin: 5px;
    border-radius: 7px;
    font-size: 15px;
}

.seat-available
{
    color: $seat-available-color;
    background-color: $seat-available-bg;
    font-weight: bolder;
    border: 1px solid $seat-available-color;
}
.seat-available:hover
{
    color: $seat-available-color;
    background-color: $seat-available-bg;
    border: 1px solid $seat-available-color;
}
.seat-unavailable
{
    color: $seat-unavailable-color;
    background-color: $seat-unavailable-bg;
    font-weight: bolder;
    border: 1px solid $seat-unavailable-color;
}
.seat-booked
{
    color: $seat-booked-color;
    font-weight: bolder;
    background-color: $seat-booked-bg;
    border: 1px solid $seat-booked-color;
}
.seat-item:hover
{
    cursor: pointer;
}

.seat-container
{
    overflow-x: auto;
    padding: auto;
    overflow-y: hidden;
}

.seat-screen
{
    background-color: gray;
    color: white;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
}

.summary-bar
{
    display: inline-flex;
    margin-top: 1%;
}

