$seat-available-bg: green;
$seat-available-color: white;
$seat-booked-bg: #9E0000;
$seat-booked-color: white;
$seat-unavailable-bg: black;
$seat-unavailable-color: white;

.container-vagas
{
  margin: 20px;
  padding: 10px;
  border-color: #336699;
  border-style: solid;
  border-radius: 20px;
}

.vaga-disponivel:hover
{
    color: $seat-available-color;
    background-color: $seat-available-bg;
    border: 1px solid $seat-available-color;
}

.vaga-ocupada:hover
{
    color: $seat-booked-color;
    background-color: $seat-booked-bg;
    border: 1px solid $seat-booked-color;
}

.vaga-ocupada
{
  color: aliceblue;
  height: 65px;
  width: 70px;
  line-height: 25px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
  font-size: 15px;
  background-color: firebrick;
}
.vaga-disponivel
{
  color: aliceblue;
  height: 65px;
  width: 70px;
  line-height: 25px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
  font-size: 15px;
  background-color: seagreen;
}


